:root {
  --header_color: #0068b4;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  background-color: var(--header_color);
  padding: 0 30px;
}

.image-box {
  height: 100%;
}

.image-box img {
  height: 100%;
  object-fit: contain;
  justify-self: left;
}

.navigation {
  display: flex;
  align-items: center;
  text-align: center;
}

.menu-text {
  color: white;
  font-size: 18px;
  margin: 0 20px;
  font-weight: 700;
}
